In [1]:
import os, glob, re
import pandas as pd
import numpy as np
from collections import defaultdict
num = 3

In [2]:
path = "exported/2." + str(num)
filenames = glob.glob(path + "/*.xlsx")
missed_years = {
    'exported/2.' + str(num) + '/table-2.' + str(num)+'.xlsx': '2015',
    'exported/2.' + str(num) + '/table-2.' +str(num)+'_0.xlsx': '2016',
    'exported/2.' +str(num)+ '/table-2.' +str(num) +'_1.xlsx': '2017'
}

In [3]:
path

'exported/2.3'

In [4]:
def get_year(name):
    pat = re.findall('\d{4}', name)
    if len(pat) != 0:
        return pat[0]
    else:
        return missed_years[name]

In [5]:
filenames = [(f, get_year(f)) for f in filenames]

In [6]:
filenames

[('exported/2.3/table-2.3_2012_0.xlsx', '2012'),
 ('exported/2.3/atable 2.3_2003.xlsx', '2003'),
 ('exported/2.3/table-2.3_2013.xlsx', '2013'),
 ('exported/2.3/table-2.3_2009.xlsx', '2009'),
 ('exported/2.3/table-2.3_2012.xlsx', '2012'),
 ('exported/2.3/Table 2.3_2005.xlsx', '2005'),
 ('exported/2.3/table-2.3_2008_0.xlsx', '2008'),
 ('exported/2.3/table-2.3_2011.xlsx', '2011'),
 ('exported/2.3/Table 2.3_2004.xlsx', '2004'),
 ('exported/2.3/table-2.3_2010.xlsx', '2010'),
 ('exported/2.3/TABLE - 2.3_2001.xlsx', '2001'),
 ('exported/2.3/table-2.3_0.xlsx', '2016'),
 ('exported/2.3/table-2.3_1.xlsx', '2017'),
 ('exported/2.3/Table-2.3_2007.xlsx', '2007'),
 ('exported/2.3/table-2.3_2008.xlsx', '2008'),
 ('exported/2.3/Table-2.3_2006.xlsx', '2006'),
 ('exported/2.3/table-2.3_2014.xlsx', '2014'),
 ('exported/2.3/atable 2.3_2002.xlsx', '2002'),
 ('exported/2.3/table-2.3.xlsx', '2015')]

In [7]:
dfs = []
for filename, year in filenames:
    dfs.append(pd.read_excel(filename, sheet_name=None, index_col=0))
    
def matchv2(s):
    if type(s) is str:
        match = re.findall(r"\((\d+)\)", s)
        return match if len(match) != 0 else None
    else:
        return None
    
def set_columns(df, index):
    frame = df.copy()
    frame.columns = frame.iloc[index].apply(lambda x : x.strip() if isinstance(x, str) else x )
    return frame.iloc[index + 1:]

def merge_columns12(df_, idx):
    tmp =  df_[df_.columns[idx]].str.extract('(\d+)\s+(\w.*)')
    df_ = df_.drop(['(1) \n(2)'], axis=1)
    return df_.join(tmp.rename(columns={0:'(1)', 1:'(2)'}))

In [8]:
def merge_columns(df_, idx):
    global df_g, idx_g
    df_g = df_
    idx_g = idx
    tmp =  df_[df_.columns[idx]].str.extract('(\d+)\s+(\w.*)')
    if '(1) \n(2)' in df_.columns:
        df_ = df_.drop(['(1) \n(2)'], axis=1)
        return df_.join(tmp.rename(columns={0:'(1)', 1:'(2)'}))
    else:
        raise Exception("multiple columns")

In [9]:
def safeisnan(s):
    if type(s) is str:
        return False
    else:
        return np.isnan(s)
    
    
def return_df(f):
    cols, acc = f.columns, {}
    for c in range(len(cols)-1):
        if not (safeisnan(cols[c]) or safeisnan(cols[c+1])):
            acc[cols[c]] = f[cols[c]]
        elif safeisnan(cols[c]) and not safeisnan(cols[c+1]):
             pass
        elif not safeisnan(cols[c]) and safeisnan(cols[c+1]):
            acc[cols[c]] = f.iloc[:, c+1]
        else:
          #  raise Exception("unanticipated")
            pass
    else:
        acc[cols[c+1]] = f.iloc[:, c+1]
    return pd.DataFrame(acc)

In [10]:
def rotate_right(cols, n):
    print(cols, n)
    return cols[-n:]+cols[:-n]

In [11]:
data = defaultdict(dict)
suspects = defaultdict(dict)

for excel, (filename, year) in zip(dfs, filenames):
    for subsheet in excel.keys():
        arr = excel[subsheet].applymap(matchv2).values
        idx = [j for j in range(len(arr)) 
               if any([val is not None for val in arr[j]])
              ]
        if len(idx) != 0:
            df = set_columns(excel[subsheet], idx[0])
            lst = [i for i, val in enumerate(arr[idx][0]) if isinstance(val, list) and len(val) > 1]
            if len(lst) > 0:
                df = merge_columns(df, lst[0])
            else:
                df['(1) \n(2)'] = df['(1)'] + " " + df['(2)'] 
                df = df.drop(['(1)', '(2)'], axis=1)
                df = merge_columns(df, df.shape[1] - 1)
                
            if len(df.columns[df.columns.isna()]) != 0:
                df = return_df(df)  
            columns = df.columns
            print(df)
        else:
            
            df = excel[subsheet].copy()
            print(df)
            df = df.loc[:, df.isna().mean() <= 0.5]
#             df['year'] = year
            df.columns = rotate_right(columns.to_list(), 2)

            
        df['year'] = year
        data[filename][subsheet] = df.set_index('(2)').dropna()

    (3)     (4)    (5)  (1)                (2)
4   NaN     NaN    NaN  NaN                NaN
5   NaN   14238   -5.6    1     ANDHRA PRADESH
6   NaN     130   -3.0    2  ARUNACHAL PRADESH
7   NaN    3264   19.7    3              ASSAM
8   NaN     759   -4.5    4              BIHAR
9   NaN    5654  -16.3    5       CHHATTISGARH
10  NaN     289   -1.4    6                GOA
11  NaN    7110   11.4    7            GUJARAT
12  NaN    2827  -12.9    8            HARYANA
13  NaN     528   19.2    9   HIMACHAL PRADESH
14  NaN     414   44.3   10    JAMMU & KASHMIR
15  NaN    1319    8.8   11          JHARKHAND
16  NaN   12753    1.0   12          KARNATAKA
17  NaN    8490    0.7   13             KERALA
18  NaN    9775    5.6  NaN                NaN
19  NaN   16112    1.0  NaN                NaN
20  NaN      41   24.2  NaN                NaN
21  NaN     128  -16.3  NaN                NaN
22  NaN     173   92.2  NaN                NaN
23  NaN      30   -9.1  NaN                NaN
24  NaN    5027   -4.1  NaN                NaN
25  NaN    1030    6.6   21             PUNJAB
26  NaN    4821   10.9  NaN                NaN
27  NaN     181   -1.6   23             SIKKIM
28  NaN   16927    6.0   24         TAMIL NADU
29  NaN     844   20.1   25            TRIPURA
30  NaN    4422   -8.7  NaN                NaN
31  NaN     424   33.8  NaN                NaN
32  NaN   14957   -9.3  NaN                NaN
33  NaN  132667   -0.2  NaN                NaN
34  NaN     NaN    NaN  NaN                NaN
35  NaN     121  -11.0   29      A & N ISLANDS
36  NaN     114    8.6  NaN                NaN
37  NaN      66    4.8  NaN                NaN
38  NaN      36    9.1  NaN                NaN
39  NaN    1899   10.7  NaN                NaN
40  NaN       1      -   34        LAKSHADWEEP
41  NaN     541   -2.9   35         PUDUCHERRY
42  NaN    2778    6.4  NaN                NaN
43  NaN  135445   -0.1  NaN                NaN
    (3)    (4)    (5)  (1)                 (2)
4   NaN    NaN    NaN  NaN                 NaN
5   NaN     31  -67.7   36                AGRA
6   NaN    614   30.6   37           AHMEDABAD
7   NaN     87   40.3   38           ALLAHABAD
8   NaN     60   17.6   39            AMRITSAR
9   NaN     24  -92.7   40             ASANSOL
10  NaN    135   -6.3   41          AURANGABAD
11  NaN   1989   15.8   42           BENGALURU
12  NaN    275   40.3   43              BHOPAL
13  NaN    104    6.1   44   CHANDIGARH (CITY)
14  NaN   2183  -10.5   45             CHENNAI
15  NaN    396   -7.9   46          COIMBATORE
16  NaN   1397    0.9   47        DELHI (CITY)
17  NaN     86   10.3   48             DHANBAD
18  NaN    303  -15.1   49    DURG BHILAINAGAR
19  NaN    168   69.7   50           FARIDABAD
20  NaN     72  105.7   51           GHAZIABAD
21  NaN    208   -0.5   52             GWALIOR
22  NaN    651   -7.5   53           HYDERABAD
23  NaN    434   52.8   54              INDORE
24  NaN    572   63.0   55            JABALPUR
25  NaN    338   -6.6   56              JAIPUR
26  NaN    133    3.9   57          JAMSHEDPUR
27  NaN    109   14.7   58             JODHPUR
28  NaN    153   16.8   59              KANNUR
29  NaN    677   -1.3   60              KANPUR
30  NaN    226   -4.6   61               KOCHI
31  NaN    371   38.4   62             KOLKATA
32  NaN    450    3.2   63              KOLLAM
33  NaN     70  -37.5   64                KOTA
34  NaN    249   18.6   65           KOZHIKODE
35  NaN    225   10.8   66             LUCKNOW
36  NaN     98   81.5   67            LUDHIANA
37  NaN    280    7.7   68             MADURAI
38  NaN     50  -16.7   69          MALAPPURAM
39  NaN     74   -1.3   70              MEERUT
40  NaN   1296   11.5   71              MUMBAI
41  NaN    501   10.1   72              NAGPUR
42  NaN    261   32.5   73               NASIK
43  NaN     52   30.0   74               PATNA
44  NaN    712    5.5   75                PUNE
45  NaN    218  -11.4   76              RAIPUR
46  NaN    424    8.7   77              RAJKOT
47  NaN     85   11.8   78              RANCHI
48  NaN     12   50.0   79            SRINAGAR
49  NaN    553    5.9   80               SURAT
50  NaN    341   10.7   81  THIRUVANANTHAPURAM
51  NaN    231  -17.5   82            THRISSUR
52  NaN    202  -10.2   83     TIRUCHIRAPPALLI
53  NaN    208    7.8   84            VADODARA
54  NaN     75   17.2   85            VARANASI
55  NaN    170   14.9   86         VASAI VIRAR
56  NaN    263   14.3   87          VIJAYAWADA
57  NaN    224    7.2   88      VISHAKHAPATNAM
58  NaN  19120    4.6  NaN                 NaN
       (3)     (4)    (5)  (1)                (2)
2      NaN     NaN    NaN  NaN                NaN
3    11693   11409   –2.4    1     ANDHRA PRADESH
4      114      81  –29.0    2  ARUNACHAL PRADESH
5     2510    2596    3.4    3              ASSAM
6      720     599  –16.8    4              BIHAR
7     3950    3919   –0.8    5       CHHATTISGARH
8      309     300   –2.9    6                GOA
9     4644    4566   –1.7    7            GUJARAT
10    2200    2227    1.2    8            HARYANA
11     334     386   15.6    9   HIMACHAL PRADESH
12     184     138  –25.0   10    JAMMU & KASHMIR
13     272     272    0.0   11          JHARKHAND
14   12270   12361    0.7   12          KARNATAKA
15    9810    9438   –3.8   13             KERALA
16    6899    6762   –2.0   14     MADHYA PRADESH
17   14529   14760    1.6   15        MAHARASHTRA
18      39      26  –33.3   16            MANIPUR
19      67      41  –38.8   17          MEGHALAYA
20      66      52  –21.2   18            MIZORAM
21      27      22  –18.5   19           NAGALAND
22    4388    4420    0.7   20             ORISSA
23     507     631   24.5   21             PUNJAB
24    3248    3661   12.7   22          RAJASTHAN
25      78     105   34.6   23             SIKKIM
26   11244   11872    5.6   24         TAMIL NADU
27     779     844    8.3   25            TRIPURA
28    4250    3663  –13.8   26      UTTAR PRADESH
29     361     391    8.3   27        UTTARANCHAL
30   13007   13280    2.1   28        WEST BENGAL
31  108499  108822    0.3  NaN                NaN
32     NaN     NaN    NaN  NaN                NaN
33     144     113  –21.5   29      A & N ISLANDS
34      87     103   18.4   30         CHANDIGARH
35      50      52    4.0   31       D & N HAVELI
36      17      24   41.2   32        DAMAN & DIU
37    1053    1153    9.5   33         DELHI (UT)
38       0       2      –   34        LAKSHADWEEP
39     567     582    2.7   35        PONDICHERRY
40    1918    2029    5.8  NaN                NaN
41  110417  110851    0.4  NaN                NaN
      (3)    (4)     (5)  (1)             (2)
2     NaN    NaN     NaN  NaN             NaN
3      76     95    25.0   36            AGRA
4     385    378    –1.8   37       AHMEDABAD
5      97     64   –34.0   38       ALLAHABAD
6      24     26     8.3   39        AMRITSAR
7       5    391  7720.0   40         ASANSOL
8    1440   1471     2.2   41       BANGALORE
9     194    297    53.1   42          BHOPAL
10   1361   1238    –9.0   43         CHENNAI
11    302    308     2.0   44      COIMBATORE
12    816    879     7.7   45    DELHI (CITY)
13    219    177   –19.2   46         DHANBAD
14     85     71   –16.5   47       FARIDABAD
15    550    653    18.7   48       HYDERABAD
16    625    649     3.8   49          INDORE
17    376    453    20.5   50        JABALPUR
18    239    338    41.4   51          JAIPUR
19     86     89     3.5   52      JAMSHEDPUR
20    441    388   –12.0   53          KANPUR
21    232    222    –4.3   54           KOCHI
22    201    205     2.0   55         KOLKATA
23     73    120    64.4   56         LUCKNOW
24     33     30    –9.1   57        LUDHIANA
25    115    132    14.8   58         MADURAI
26     22     29    31.8   59          MEERUT
27   1072    969    –9.6   60          MUMBAI
28    417    429     2.9   61          NAGPUR
29    193    178    –7.8   62           NASIK
30     42     38    –9.5   63           PATNA
31    496    507     2.2   64            PUNE
32    250    272     8.8   65          RAJKOT
33    340    327    –3.8   66           SURAT
34    143    155     8.4   67        VADODARA
35     55     53    –3.6   68        VARANASI
36    214    145   –32.2   69      VIJAYAWADA
37    220    244    10.9   70  VISHAKHAPATNAM
38  11439  12020     5.1  NaN             NaN
    (3)     (4)    (5)  (1)                (2)
4   NaN     NaN    NaN  NaN                NaN
5   NaN   14607    2.6    1     ANDHRA PRADESH
6   NaN     229   76.2    2  ARUNACHAL PRADESH
7   NaN    3553    8.9    3              ASSAM
8   NaN    1057   39.3    4              BIHAR
9   NaN    5436   -3.9    5       CHHATTISGARH
10  NaN     328   13.5    6                GOA
11  NaN    7166    0.8    7            GUJARAT
12  NaN    3316   17.3    8            HARYANA
13  NaN     554    4.9    9   HIMACHAL PRADESH
14  NaN     302  -27.1   10    JAMMU & KASHMIR
15  NaN    1460   10.7   11          JHARKHAND
16  NaN   11266  -11.7   12          KARNATAKA
17  NaN    8646    1.8   13             KERALA
18  NaN    9446   -3.4  NaN                NaN
19  NaN   16622    3.2  NaN                NaN
20  NaN      37   -9.8  NaN                NaN
21  NaN     137    7.0  NaN                NaN
22  NaN      95  -45.1  NaN                NaN
23  NaN      37   23.3  NaN                NaN
24  NaN    5252    4.5  NaN                NaN
25  NaN     972   -5.6   21             PUNJAB
26  NaN    4860    0.8  NaN                NaN
27  NaN     184    1.7   23             SIKKIM
28  NaN   16601   -1.9   24         TAMIL NADU
29  NaN     961   13.9   25            TRIPURA
30  NaN    5286   19.5  NaN                NaN
31  NaN     365  -13.9  NaN                NaN
32  NaN   13055  -12.7  NaN                NaN
33  NaN  131830   -0.6  NaN                NaN
34  NaN     NaN    NaN  NaN                NaN
35  NaN     151   24.8   29      A & N ISLANDS
36  NaN      97  -14.9  NaN                NaN
37  NaN      84   27.3  NaN                NaN
38  NaN      29  -19.4  NaN                NaN
39  NaN    2059    8.4  NaN                NaN
40  NaN       3  200.0   34        LAKSHADWEEP
41  NaN     546    0.9   35         PUDUCHERRY
42  NaN    2969    6.9  NaN                NaN
43  NaN  134799   -0.5  NaN                NaN
    (3)    (4)     (5)  (1)                 (2)
4   NaN    NaN     NaN  NaN                 NaN
5   NaN     68   119.4   36                AGRA
6   NaN    671     9.3   37           AHMEDABAD
7   NaN    255   193.1   38           ALLAHABAD
8   NaN     54   -10.0   39            AMRITSAR
9   NaN    819  3313.0   40             ASANSOL
10  NaN    202    49.6   41          AURANGABAD
11  NaN   2033     2.2   42           BENGALURU
12  NaN    384    39.6   43              BHOPAL
13  NaN     94    -9.6   44   CHANDIGARH (CITY)
14  NaN   2450    12.2   45             CHENNAI
15  NaN    414     4.5   46          COIMBATORE
16  NaN   1753    25.5   47        DELHI (CITY)
17  NaN     83    -3.5   48             DHANBAD
18  NaN    292    -3.6   49    DURG BHILAINAGAR
19  NaN    172     2.4   50           FARIDABAD
20  NaN    160   122.2   51           GHAZIABAD
21  NaN    211     1.4   52             GWALIOR
22  NaN    629    -3.4   53           HYDERABAD
23  NaN    540    24.4   54              INDORE
24  NaN    304   -46.9   55            JABALPUR
25  NaN    353     4.4   56              JAIPUR
26  NaN    133     0.0   57          JAMSHEDPUR
27  NaN    103    -5.5   58             JODHPUR
28  NaN    153     0.0   59              KANNUR
29  NaN    648    -4.3   60              KANPUR
30  NaN    216    -4.4   61               KOCHI
31  NaN    377     1.6   62             KOLKATA
32  NaN    432    -4.0   63              KOLLAM
33  NaN     62   -11.4   64                KOTA
34  NaN    240    -3.6   65           KOZHIKODE
35  NaN    245     8.9   66             LUCKNOW
36  NaN     54   -44.9   67            LUDHIANA
37  NaN    263    -6.1   68             MADURAI
38  NaN     61    22.0   69          MALAPPURAM
39  NaN     62   -16.2   70              MEERUT
40  NaN   1322     2.0   71              MUMBAI
41  NaN    523     4.4   72              NAGPUR
42  NaN    282     8.0   73               NASIK
43  NaN     93    78.8   74               PATNA
44  NaN    880    23.6   75                PUNE
45  NaN    276    26.6   76              RAIPUR
46  NaN    453     6.8   77              RAJKOT
47  NaN    104    22.4   78              RANCHI
48  NaN      7   -41.7   79            SRINAGAR
49  NaN    603     9.0   80               SURAT
50  NaN    353     3.5   81  THIRUVANANTHAPURAM
51  NaN    242     4.8   82            THRISSUR
52  NaN    169   -16.3   83     TIRUCHIRAPPALLI
53  NaN    206    -1.0   84            VADODARA
54  NaN    121    61.3   85            VARANASI
55  NaN    193    13.5   86         VASAI VIRAR
56  NaN    248    -5.7   87          VIJAYAWADA
57  NaN    248    10.7   88      VISHAKHAPATNAM
58  NaN  21313    11.5  NaN                 NaN
    (3)     (4)    (5)  (1)                (2)
4   NaN     NaN    NaN  NaN                NaN
5   NaN   14500    1.0    1     ANDHRA PRADESH
6   NaN     110    0.0    2  ARUNACHAL PRADESH
7   NaN    2966   -0.8    3              ASSAM
8   NaN    1051    3.5    4              BIHAR
9   NaN    5883   19.0    5       CHHATTISGARH
10  NaN     278   -3.1    6                GOA
11  NaN    6156   -0.1    7            GUJARAT
12  NaN    2503   -5.8    8            HARYANA
13  NaN     560  -11.1    9   HIMACHAL PRADESH
14  NaN     321    3.5   10    JAMMU & KASHMIR
15  NaN    1112   22.1   11          JHARKHAND
16  NaN   12195   -0.2   12          KARNATAKA
17  NaN    8755    2.2   13             KERALA
18  NaN    9113   19.5  NaN                NaN
19  NaN   14300   -0.5  NaN                NaN
20  NaN      27  -20.6  NaN                NaN
21  NaN     112   31.8  NaN                NaN
22  NaN      69   68.3  NaN                NaN
23  NaN      31  -26.2  NaN                NaN
24  NaN    4365  -11.0  NaN                NaN
25  NaN     847   -2.5   21             PUNJAB
26  NaN    5065   -2.0  NaN                NaN
27  NaN     241  -16.0   23             SIKKIM
28  NaN   14424    0.0   24         TAMIL NADU
29  NaN     738   -1.9   25            TRIPURA
30  NaN    4158    1.7  NaN                NaN
31  NaN     342   79.1  NaN                NaN
32  NaN   14648   -1.4  NaN                NaN
33  NaN  124870    1.6  NaN                NaN
34  NaN     NaN    NaN  NaN                NaN
35  NaN     131   -8.4   29      A & N ISLANDS
36  NaN      75   -9.6  NaN                NaN
37  NaN      56   -6.7  NaN                NaN
38  NaN      23   21.1  NaN                NaN
39  NaN    1477   13.4  NaN                NaN
40  NaN       1    0.0   34        LAKSHADWEEP
41  NaN     518    2.2   35         PUDUCHERRY
42  NaN    2281    7.8  NaN                NaN
43  NaN  127151    1.7  NaN                NaN
      (3)    (4)    (5)  (1)             (2)
3     NaN    NaN    NaN  NaN             NaN
4      44    117  165.9   36            AGRA
5     518    451  -12.9   37       AHMEDABAD
6     112     76  -32.1   38       ALLAHABAD
7      44     32  -27.3   39        AMRITSAR
8     150    222   48.0   40         ASANSOL
9    2396   2167   -9.6   41       BENGALURU
10    217    275   26.7   42          BHOPAL
11   1309   1412    7.9  NaN             NaN
12    327    352    7.6  NaN             NaN
13   1107   1215    9.8  NaN             NaN
14     52    152  192.3  NaN             NaN
15    113    120    6.2   47       FARIDABAD
16    743    687   -7.5  NaN             NaN
17     32     98  206.3   49          INDORE
18    273    384   40.7   50        JABALPUR
19    302    264  -12.6   51          JAIPUR
20     80    171  113.8   52      JAMSHEDPUR
21    377    366   -2.9   53          KANPUR
22    233    231   -0.9   54           KOCHI
23    179    200   11.7   55         KOLKATA
24    178    185    3.9   56         LUCKNOW
25     81     51  -37.0   57        LUDHIANA
26    231    259   12.1  NaN             NaN
27     91     79  -13.2  NaN             NaN
28   1111   1051   -5.4  NaN             NaN
29    404    390   -3.5  NaN             NaN
30    190    168  -11.6  NaN             NaN
31     66     63   -4.5   63           PATNA
32    612    648    5.9   64            PUNE
33    316    343    8.5  NaN             NaN
34    502    530    5.6   66           SURAT
35    171    177    3.5   67        VADODARA
36     75    124   65.3   68        VARANASI
37    235    219   -6.8   69      VIJAYAWADA
38    200    224   12.0   70  VISHAKHAPATNAM
39  13071  13503    3.3  NaN             NaN
    (3)     (4)    (5)  (1)                (2)
4   NaN     NaN    NaN  NaN                NaN
5   NaN   14238   -5.6    1     ANDHRA PRADESH
6   NaN     130   -3.0    2  ARUNACHAL PRADESH
7   NaN    3264   19.7    3              ASSAM
8   NaN     759   -4.5    4              BIHAR
9   NaN    5654  -16.3    5       CHHATTISGARH
10  NaN     289   -1.4    6                GOA
11  NaN    7110   11.4    7            GUJARAT
12  NaN    2827  -12.9    8            HARYANA
13  NaN     528   19.2    9   HIMACHAL PRADESH
14  NaN     414   44.3   10    JAMMU & KASHMIR
15  NaN    1319    8.8   11          JHARKHAND
16  NaN   12753    1.0   12          KARNATAKA
17  NaN    8490    0.7   13             KERALA
18  NaN    9775    5.6  NaN                NaN
19  NaN   16112    1.0  NaN                NaN
20  NaN      41   24.2  NaN                NaN
21  NaN     128  -16.3  NaN                NaN
22  NaN     173   92.2  NaN                NaN
23  NaN      30   -9.1  NaN                NaN
24  NaN    5027   -4.1  NaN                NaN
25  NaN    1030    6.6   21             PUNJAB
26  NaN    4821   10.9  NaN                NaN
27  NaN     181   -1.6   23             SIKKIM
28  NaN   16927    6.0   24         TAMIL NADU
29  NaN     844   20.1   25            TRIPURA
30  NaN    4422   -8.7  NaN                NaN
31  NaN     424   33.8  NaN                NaN
32  NaN   14957   -9.3  NaN                NaN
33  NaN  132667   -0.2  NaN                NaN
34  NaN     NaN    NaN  NaN                NaN
35  NaN     121  -11.0   29      A & N ISLANDS
36  NaN     114    8.6  NaN                NaN
37  NaN      66    4.8  NaN                NaN
38  NaN      36    9.1  NaN                NaN
39  NaN    1899   10.7  NaN                NaN
40  NaN       1      -   34        LAKSHADWEEP
41  NaN     541   -2.9   35         PUDUCHERRY
42  NaN    2778    6.4  NaN                NaN
43  NaN  135445   -0.1  NaN                NaN
    (3)    (4)    (5)  (1)                 (2)
4   NaN    NaN    NaN  NaN                 NaN
5   NaN     31  -67.7   36                AGRA
6   NaN    614   30.6   37           AHMEDABAD
7   NaN     87   40.3   38           ALLAHABAD
8   NaN     60   17.6   39            AMRITSAR
9   NaN     24  -92.7   40             ASANSOL
10  NaN    135   -6.3   41          AURANGABAD
11  NaN   1989   15.8   42           BENGALURU
12  NaN    275   40.3   43              BHOPAL
13  NaN    104    6.1   44   CHANDIGARH (CITY)
14  NaN   2183  -10.5   45             CHENNAI
15  NaN    396   -7.9   46          COIMBATORE
16  NaN   1397    0.9   47        DELHI (CITY)
17  NaN     86   10.3   48             DHANBAD
18  NaN    303  -15.1   49    DURG BHILAINAGAR
19  NaN    168   69.7   50           FARIDABAD
20  NaN     72  105.7   51           GHAZIABAD
21  NaN    208   -0.5   52             GWALIOR
22  NaN    651   -7.5   53           HYDERABAD
23  NaN    434   52.8   54              INDORE
24  NaN    572   63.0   55            JABALPUR
25  NaN    338   -6.6   56              JAIPUR
26  NaN    133    3.9   57          JAMSHEDPUR
27  NaN    109   14.7   58             JODHPUR
28  NaN    153   16.8   59              KANNUR
29  NaN    677   -1.3   60              KANPUR
30  NaN    226   -4.6   61               KOCHI
31  NaN    371   38.4   62             KOLKATA
32  NaN    450    3.2   63              KOLLAM
33  NaN     70  -37.5   64                KOTA

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
filename

In [ ]:
rotate_right(columns.to_list(), 2)

In [ ]:
df.columns

In [ ]:
f = (pd.concat([f for d in data.values() for f in d.values()])
     .reset_index()
     .set_index(['(2)', 'year'])
     .sort_index()
     .filter(regex=r'\(\d+\)')
     .drop('(1)', axis=1)
    )

In [ ]:
#f.to_csv('/home/kakade/k.csv')

In [ ]:
output = (f.groupby(f.index)
          .apply(lambda df : df.fillna(method='ffill'))
          .reset_index()
          .drop_duplicates(subset=['(2)', 'year'], keep='last')
          .set_index(['(2)', 'year'])
    ).to_csv('/home/kakade/2.'+ str(num)+'.csv')